ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(244, 194, 194);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(16, 16, 16);
    text-align: center;
    padding: 14px 16px;
    text-decoration: right;
  }