ul {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  background-color: rgb(244, 194, 194);
}

li {
  display: inline-block;
}

a {
  display: block;
  color: rgb(16, 16, 16);
  padding: 14px 16px;
}